@import "tailwindcss";

:root {
  --primary-color: #000000; /* Black */
  --secondary-color: #f1f3f4;
  --accent-color: #2563eb; /* Vibrant blue for a modern, tech-inspired feel */
  --from: #f9fafb; /* Light mode gradient */
  --to: #ffffff;
  --text-light: #333333;
  --bg-light: #00000033;
}

.dark {
  --primary-color: #f1f3f4;
  --secondary-color: #212121;
  --accent-color: #ff3a5e; /* Vibrant red for dark theme */
  --gradiant-from: #111827;
  --gradiant-to: #000000;
  --text-light: #f5f5f5; /* A subtle "light white" for text in dark mode */
  --bg-light: #ffffff33;
}

html {
  scroll-behavior: smooth;
}

body {
  transition-property: opacity, filter, background-color;
  background: linear-gradient(
    to bottom,
    var(--gradiant-from),
    var(--gradiant-to)
  );
  transition-timing-function: linear;
  transition-duration: 300ms;
}

/* Transition-out state: triggers fade out effect */
.page-transition-out {
  opacity: 0;
  filter: blur(20px);
}

::selection {
  background-color: var(--accent-color); /* desired background color */
  color: var(--primary-color); /* desired text color */
}

/* For Mozilla Firefox */
::-moz-selection {
  background-color: var(--accent-color); /* desired background color */
  color: var(--primary-color); /* desired text color */
}

.btn {
  @apply mt-10 cursor-pointer rounded-full px-8 py-4 font-bold uppercase transition duration-300 ease-in-out;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
